.discussion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 3px solid #936639;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.topic-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.opinion-button {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 10px;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 130px;
}

form {
  width: 100%;
}

.opinion-input,
.additional-content-textarea,
.opinionregister-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.opinion-input {
  font-size: 16px;
}

.additional-content-textarea {
  resize: vertical;
  font-size: 14px;
}

.opinionregister-button {
  background-color: #936639;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.opinionregister-button:hover {
  background-color: #7a523d;
}

.opinions {
  width: 100%;
}

.opinion-box {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.opinion-box p {
  margin: 0;
}

.date {
  color: #999;
  font-size: 12px;
}
