/* Discussion.css */

.discussion {
  display: flex;
  flex-direction: column; /* 컨테이너 요소를 세로 방향으로 정렬 */
  align-items: center; /* 자식 요소들을 중앙 정렬 */
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.opinion-button {
  width: auto; /* 버튼 너비를 자동으로 설정 */
  padding: 10px;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.opinion-input,
.additional-content-textarea,
.opinionregister-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.opinion-input {
  font-size: 16px;
}

.additional-content-textarea {
  resize: vertical;
  font-size: 14px;
}

.opinionregister-button {
  background-color: #936639;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.opinionregister-button:hover {
  background-color: #7a523d;
}

.opinions {
  width: 100%;
}

.opinion-box {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.opinion-box p {
  margin: 0;
}

.date {
  color: #999;
  font-size: 12px;
}
